# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Build / distribution
dist/
build/

# Expo / React Native
.expo/
.expo-shared/

# IDE / editor
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Build / distribution (Python)
*.egg-info/

# Environment variables
.env
*.env
*.env.server2

# Images
*.jpg
*.jpeg
*.png
*.gif
*.svg

# Logs
*.log

# Generated 3D models
*.ply
*.pcd
*.obj
*.mtl
*.stl

# Backend project outputs
Back-end/projects/**
